
body{
    /* background-image: url('./background4.jpg'); */
    background-size: cover;
    background-color:darkslategray;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
  }

.container{

  
}

h1 {
    padding-top: 60px;
    padding-bottom: 40px;
    /* font-family: "Dancing Script", cursive; */
    font-size: 60px;
    background-color: darkslategray;
    padding-left: 40px;
    color: white;
}

h3{
  padding-top: 60px;
  padding-bottom: 40px;
  padding-left: 40px;
  font-size: 30px;
  background-color: darkslategray;
  color: white;

}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
}


.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust to your preference */
  }

  /* Styles for the social icons */
.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: fixed; */
    bottom: 20px; /* Adjust as needed */
    top: 40px;
    left: 0;
    width: 100%;
  }
  
  .social-icons a {
    top: 4;                                         vvvvv'0px;
    margin: 0 10px; /* Adjust spacing between icons as needed */
  }
  
  .card-text {
    margin-right: 40px;
    padding-top: 40px;
    /*margin-top: 40px;*/
    padding-bottom: 40px;
    padding-left: 40px;
  }
